<button class="btn btn-success"><a routerLink="/admin/categories">Quay lại</a></button>
<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="">Name</label>
        <!-- định nghĩa thuộc tính để lắng nghe input -->
        <input type="text" class="form-control" formControlName="name">

        <app-show-validate [field]="categoryForm.get('name')" key="Tên danh mục"></app-show-validate>

    </div>
    <div class="form-group">
        <label for="">Image</label>
        <!-- định nghĩa thuộc tính để lắng nghe input -->
        <input type="text" class="form-control" formControlName="image">

        <app-show-validate [field]="categoryForm.get('image')" key="Ảnh danh mục"></app-show-validate>

    </div>


    <div class="form-group">
        <label for="">Status</label>
        <input type="number" class="form-control" formControlName="status">

        <app-show-validate [field]="categoryForm.get('status')" key="Trạng thái danh mục"></app-show-validate>

    </div>


    <div><button class="btn btn-success" [disabled]="!categoryForm.valid">Submit</button></div>
</form>
